@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color-black: black;

$primary-color: #263f40;
$secondary-color: #9bc2c4;
$tile-color: #d7e6e7;
$color-white: #f2f7f7;
$line-color: rgb(222, 174, 27);

$name-font: "Mulish", sans-serif;
$name-weight: 200;

$primary-font: "Roboto", sans-serif;
$intro-font: "Gupter", serif;
$intro-font-size: 50px;
$intro-font-size-large: 70px;
$intro-font-weight-large: 100;
$intro-font-weight: 50;

$project-tile-font-size-desktop: 12px;
$project-tile-title-size-desktop: 24px;
$project-tile-language-size-desktop: 14px;
$button-font-size-small: 12px;

