@use 'src/Variables/Variables.scss'as *;

.aboutme {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    align-items: center;

    &__heading {
        padding: 0px 0px 20px;
        text-align: center;
    }

    &__underline { 
        position: relative;
        width: 35%;
        text-align: center;
        padding-left: -120px;
    
        &::before {
            content: 'aaii';
            z-index: -1;
            text-align: center;
            position: absolute;
            font-size: 6em;
            top: -125px;
            left: 0;
            color: transparent;
            text-decoration-color: $line-color;
            text-decoration-line: underline;
        }
    }

    &__image {
        width: 80%;
        padding: 0 0 20px;
    }

    &__paragraph {
        padding: 15px 10px 10px;
    }
}