@use "src/Variables/Variables.scss" as *;

.aboutme {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  align-items: center;

  &__heading {
    text-align: center;
    margin: 0;
  }

  &__underline {
    position: relative;
    width: 160px;
    height: 12px;
    top: -14px;
    margin-left: 55px;
    z-index: -1;
    background-color: $line-color;
    margin-bottom: 10px;
  }

  &__image {
    width: 80%;
    padding: 0 0 20px;
  }

  &__paragraph {
    padding: 15px 10px 10px;
  }
}

@media screen and (min-width: 750px) {
  .aboutme {
    &__paragraph {
      padding: 15px 40px 10px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .aboutme {
    &__heading {
      padding: 20px 0px 0px;
      text-align: center;
    }

    &__image {
      padding: 20px 0 20px;
    }

    &__paragraph {
      padding: 25px 50px 20px;
    }
  }
}


@media screen and (min-width: 1200px) {
  .aboutme {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    gap: 10px;
    height: 80vh;
    padding: 10px 120px;
    margin: 40px ;

    &__heading {
      grid-column: 2;
      grid-row: 2;
      text-align: left;
    }
    
    &__image {
      grid-column: 1;
      grid-row: 1/5;
      padding: 0;
      width: 85%;
    }

    &__paragraph {
      padding: 0;
      grid-column: 2;
      grid-row: 3;
    }

    &__underline {
      grid-column: 2;
      grid-row: 2;
      text-align: left;
      margin-left: 15px;
      padding: 0;
      top: 26px;
    }
  }
}
