@use "src/Variables/Variables.scss" as *;

.contactpage {
  &__heading {
    padding: 14vh 40px 30px;
  }

  &__subheading {
    padding: 5px 15px 5px;
    font-weight: bolder;
  }

  &__group {
    display: flex;
  }

  &__link {
    padding: 12px 40px 30px;
  }

  &__icon {
    width: 30px;
    margin-left: 40px;
  }

  &__underline {
    position: relative;
    width: 150px;
    height: 11px;
    top: -41px;
    margin-left: 53px;
    z-index: -1;
    background-color: $line-color;
  }
}