@use "src/Variables/Variables.scss" as *;

.contactpage {
  &__heading {
    padding: 14vh 40px 30px;
  }

  &__subheading {
    padding: 5px 15px 5px;
    font-weight: bolder;
  }

  &__group {
    display: flex;
  }

  &__link {
    padding: 12px 40px 30px;
  }

  &__icon {
    width: 30px;
    margin-left: 40px;
  }

  &__underline {
    position: relative;

    &::before {
      content: "aiiiii";
      z-index: -1;
      padding-left: 50px;
      text-align: center;
      position: absolute;
      font-size: 5em;
      top: -118px;
      color: transparent;
      text-decoration-color: $line-color;
      text-decoration-line: underline;
    }
  }
}