@use 'src/Variables/Variables.scss'as *;

.homepage {
    height: auto;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Typewriter {
        align-items: left;
        width: 70%;
        padding: 14vh 0px 30px;
        font-family: $intro-font;
        font-size: $intro-font-size;
        font-weight: $intro-font-weight;
    }

    &__wave { 
        position: relative;
        height: 8px;
        background-color: $line-color;
        place-items: center;
        width: 70%;
        margin: 10px 0 30px;
    }
}

@media screen and (min-width: 863px) {
    .homepage {
        margin-bottom: 200px;
    }
}

@media screen and (min-width: 1000px) {
    .homepage {
        margin-bottom: 200px;

        .Typewriter {
            width: 75%;
            font-size: $intro-font-size-large;
        }
    }
}


@media screen and (min-width: 1300px) {
    .homepage {
        .Typewriter {
            width: 80%;
            padding: 16vh 120px 0px;
        }
    }
}

