@use "src/Variables/Variables.scss" as *;

.projects {
  &__heading {
    padding: 120px 40px 10px;
  }

  &__summary {
    padding: 10px 40px 0px;
  }

  &__list {
    padding: 10px 40px 20px;
    list-style-type: none;
  }

  &__carousel {
    margin: 0px 10px;
    height: 950px;
    z-index: 1;
  }

  &__carousel-desktop {
    display: none;
  }

  &__underline {
    position: relative;

    &::before {
      content: "aiii";
      z-index: -1;
      text-align: center;
      position: absolute;
      font-size: 5em;
      top: -98px;
      padding-left: 50px;
      color: transparent;
      text-decoration-color: $line-color;
      text-decoration-line: underline;
    }
  }
}

@media screen and (min-width: 750px) {
  .projects {
    margin-bottom: 50px;
    &__heading {
      padding: 150px 40px 10px;
    }

    &__carousel {
      margin-left: 90px;
      height: 950px;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 800px) {
  .projects {
    &__heading {
      padding: 150px 40px 10px;
    }
  }
}

@media screen and (min-width: 900px) {
  .projects {
    &__heading {
      padding: 160px 40px 10px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projects {
    &__heading {
      padding: 180px 40px 10px;
    }

    &__carousel {
      display: none;
    }

    &__carousel-desktop {
      display: contents;

      &--pair {
        width: 90%;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0;
        margin-left: 60px;
      }

      .projects__carousel-desktop--nav-button {
        margin: 0px 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    &__heading {
      padding: 130px 40px 10px;
    }

    &__carousel-desktop {

      &--pair {
        width: 70%;
        margin-left: 160px;
      }

      .projects__carousel-desktop--nav-button {
        margin: 250px 150px;
      }
    }
  }
}
