@use "src/Variables/Variables.scss" as *;

.projects {
  &__heading {
    padding: 14vh 40px 10px;
  }

  &__summary {
    padding: 10px 40px 0px;
  }

  &__list {
    padding: 10px 40px 20px;
    list-style-type: none;
  }

  &__carousel {
    margin: 0px 10px;
    height: 950px;
    z-index: 1;
  }

  &__carousel-desktop {
    display: none;
  }

  &__underline {
    position: relative;
    width: 110px;
    height: 11px;
    top: -21px;
    margin-left: 53px;
    z-index: -1;
    background-color: $line-color;
  }
}

@media screen and (min-width: 720px) {
  .projects {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 740px) {
  .projects {
   padding-bottom: 50px;
    &__carousel {
      display: none;
    }

    &__carousel-desktop {
      display: block;
      height: 650px;

      &--pair {
        width: 90%;
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0;
        margin-left: 20px;
        overflow: hidden;
        margin-bottom: 250px;
      }

      .projects__carousel-desktop--nav-button {
        margin: -400px 8vw;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .projects {

    &__carousel {
      margin-left: 80px;
    }
  }
}


@media screen and (min-width: 1050px) {
  .projects {
    margin-bottom: 100px;

    &__carousel-desktop {
      &--pair {
        width: 70%;
        margin-left: 150px;
      }

      .projects__carousel-desktop--nav-button {
        margin: 20px 100px;
      }
    }
  }

  @media screen and (min-width: 1300px) {
    .projects {

      &__carousel-desktop {
        &--pair {
          margin-left: 190px;
        }

        .projects__carousel-desktop--nav-button {
          margin: -10px 155px;
        }
      }
    }
  }
}
